      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="@controllers.routes.Application.dashboard()" class="logo"><b>SMART APP</b></a>
            <!--logo end-->
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
                </ul>
            </div>
        </header>
      <!--header end-->
<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <p class="centered"><a href="profile.html"><img src="@routes.Assets.at("images/tible.png")" class="img-circle" width="60" style="background-color: white;"></a></p>
                  <h5 class="centered">Admin</h5>

                  <li class="mt">
                      <a href="@controllers.routes.Application.dashboard()">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                 <li class="sub-menu">
                      <a href="@controllers.routes.Application.viewCowDetails()" >
                          <i class="fa fa-desktop"></i>
                          <span>Individual Cow Details</span>
                      </a>
                  </li>
                        <li class="sub-menu">
                      <a href="@controllers.routes.Application.simulationProcess()" >
                          <i class="fa fa-desktop"></i>
                          <span>Simulation</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->

