@import controllers.routes.javascript._

@(noOfCowsInCattle: List[String])

@main("Welcome to My Play") {

  <section id="container" >

@commonTemplate()

      <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> Details Page</h3>
            <div class="row mt">
                  <div class="col-lg-12">
                  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>                 
                  <p>Please Select Individual Cow to view detailed report</p>
                  <select class="form-control" id="cowIdentifier" onchange="cowDetails();cowDetails1();cowDetails2()">
                            <option>-----Select the Cow----</option>
                            @if(noOfCowsInCattle != null){  
                              @for(singlenoOfCowsInCattle <- noOfCowsInCattle) {
                              <option value="@singlenoOfCowsInCattle">@singlenoOfCowsInCattle</option>
                              }
                          }
                </select>
                  </div>
              </div>	
			 <div id="morris">
                  <div class="row mt">
                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4><i class="fa fa-angle-right"></i> Cow Temperature for today</h4>
                              <div class="panel-body">
                                  <div id="hero-bar" class="graph"></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="content-panel">
                              <h4><i class="fa fa-angle-right"></i> Recent Four Records </h4>
                              <div class="panel-body">
                                  <div id="hero-area" class="graph"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row mt">
                      <div class="col-lg-12">
                          <div class="content-panel">
                              <h4><i class="fa fa-angle-right"></i> Temperature Vs Heat Index</h4>
                              <div class="panel-body">
                                  <div id="chartContainer" class="graph"></div>
                              </div>
                          </div>
                      </div>
                      </div>
                  <div class="row mt">
                      <div class="col-lg-6">
                          
                      </div>
                      <div class="col-lg-6">
                          
                      </div>
                  </div>
              </div>
              <!-- page end-->
		</section>
      </section><!-- /MAIN CONTENT -->

@footer()

  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script type="text/javascript" charset="utf-8">
	      var cowDetails = function() {
              $("#hero-bar").empty();
		      var cowValue = $('#cowIdentifier').val();
		      jsRoutes.controllers.Application.viewIndividualCow(cowValue).ajax({
		        success: function(tempData) {
			        var tempData2 = JSON.parse(tempData);
		        	Morris.Bar({
			            element: 'hero-bar',
			            data: tempData2,
			            xkey: 'time',
			            ykeys: ['Temperature'],
			            labels: ['Temperature'],
			            barRatio: 0.2,
			            xLabelAngle: 8,
			            hideHover: 'auto',
			            barColors: ['#ac92ec']
			          });
		          $("#result").html(data);
		        },
		        error: function() {
		          alert("Error!")
		        }
		      })
	    }; 	 

    var cowDetails1 = function() {
              $("#hero-area").empty();
              var cowValue = $('#cowIdentifier').val();
              jsRoutes.controllers.Application.secondGraph(cowValue).ajax({
                    success: function(tempData) {
                        var tempData2 = JSON.parse(tempData);
                        Morris.Bar({
                            element: 'hero-area',
                            data: tempData2,
                            xkey: 'time',
                            ykeys: ['Temperature'],
                            labels: ['Temperature'],
                            barRatio: 0.2,
                            xLabelAngle: 8,
                            hideHover: 'auto',
                            barColors: ['#ac92ec']
                          }); 
                        /* Morris.Line({
                            element: 'hero-line',
                            data: tempData2,
                            xkey: 'time',
                            ykeys: ['Temperature'],
                            labels: ['Temperature']
                          }); */
                      $("#result").html(data);
                    },
                    error: function() {
                      alert("Error!")
                    }
                  })
              
              
        };

    var cowDetails2 = function() {
              var cowValue = $('#cowIdentifier').val();
              jsRoutes.controllers.Application.thirdGraph(cowValue).ajax({
                    success: function(tempData) {
                        var tempData2 = JSON.parse(tempData);
                        var a = tempData2;
                        
                         for(var i = 0; i < a.length; i++) {
                              var b = a[i];
                              for(var k in b) {
                                  if(k == "y") {
                                      b[k] = parseInt(b[k]);
                                  }
                                  if(k == "x") {
                                      b[k] = parseInt(b[k]);
                                  }
                              }
                        } 
                        var x = [{x:81.056,y:70}, {x:74.83200000000001,y:69}, {x:79.58,y:133}, {x:79.58,y:133}, {x:79.58,y:133}, {x:79.58,y:133}, {x:75.64999999999999,y:68}, {x:79.58,y:133}, {x:79.58,y:133}, {x:79.58,y:133}];

                        var chart = new CanvasJS.Chart("chartContainer",
                                {
                                  title:{
                                  text: "Temperature Vs Heat Index"
                                  },
                                  axisX: {
                                    minimum: 70,
                                    maximum: 136,
                                    interval:10
                                  },
                                  axisY:{
                                    includeZero: true
                                  },
                                  data: [
                                  {
                                    type: "line",
                                    dataPoints: a
                                  }
                                  ]
                                });

                                chart.render();
                      $("#result").html(data);
                    },
                    error: function() {
                      alert("Error!")
                    }
                  })
              
              
        };    

     </script>

}
